* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-row {
  height: 100vh;
}
.side-bar {
  background-color: black;
}
.main-a {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.main-a:hover,
.active {
  background-color: white;
  color: black;
}
.logo {
  font-family: cursive;
}
.logo-1::first-letter {
  margin: 0;
  color: red;
  font-size: 35px;
}
.input-div {
  height: 50px;
  background-color: black;
}
input {
  border: none;
  outline: none;
}
.tabel-div {
  height: 39vh;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  overflow: auto;
}
table {
  width: 100%;
  text-align: center;
}
th {
  font-size: 13px;
}
.tfoot-div {
  width: 100%;
  background-color: black;
  color: white;
}
.tfoot {
  background-color: black;
  width: 90%;
  margin: auto;
}
button {
  border: none;
  padding: 2px 5px;
  border-radius: 6px;
  margin: 9px 0;
}
button:hover {
  background-color: black;
  color: white;
}
.route-btn,
.tfoot button {
  width: 170px;
  font-weight: 500;
  background-color: #ffc107;
  color: #ff2600;

  transition: 0.3s;
}
.route-btn:hover,
.tfoot button:hover {
  background-color: #ffc107;
  color: #ff2600;
  opacity: 0.8;
  transform: scale(1.05);
}
.tfoot input {
  margin: 15px 0;
}
.test {
  background-color: black;
  color: white;
  height: 7vh;
}
.add-form input {
  margin: 10px 5px;
  padding: 4px;
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
}
.all-p{
  height: 80vh;
}
@media (max-width: 575px) {
  .main-row {
    height: 0;
  }
  .side-bar {
    height: 120px;
  }
  .logo {
    margin: 0;
  }
  .main-a {
    font-size: 10px;
    position: sticky;
  }
  th,
  td {
    font-size: 8px;
  }
  .tabel-div {
    height: 28.8vh;
    width: 100%;
  }
  .input-div {
    height: 30px;
  }
  .input-div input,
  .tfoot input {
    padding: 0;
    height: 20px;
    font-size: 10px;
    margin: 0;
  }
  .route-btn,
  .tfoot button {
    width: 130px;
    font-size: 10px;
    font-weight: 500;
  }
  .tfoot button {
    width: 100%;
    margin: 0 0 38px 0;
  }
  .tfoot input {
    margin: 10px 0 0 0;
  }
  span {
    font-size: 10px;
  }
  .tt {
    height: 33vh;
  }
  .add-form input {
    margin: 3px 3px;
    padding: 1px;
    border: 0.5px solid;
    border-radius: 5px;
    text-align: center;
  }
  .all-p{
    height: 62vh;
  }
}
